:root {
  --primary-text-color: #3d3d3f;
  --secondary-text-color: #09777a;
  --main-background-color: #f9f8fd;
}

.secondary-text {
  color: var(--secondary-text-color);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

#navbar {
  width: 100%;
  background-color: var(--main-background-color);
  position: fixed;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

#navbar li {
  list-style-type: none;
  margin: 1em 3em;
}

#navbar a {
  text-decoration: none;
}

#navbar a:hover {
  color: purple;
}

section::before {
  display: block;
  content: ' ';
  margin-top: -3em;
  height: 3em;
  visibility: hidden;
  pointer-events: none;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
}

#welcome-section h1 {
  margin: 0;
  font-size: 2.5em;
}

#projects {
  margin-top: 3em;
  margin-bottom: 3em;
}

#projects h3 {
  margin-bottom: 3em;
}

.project-img {
  height: 200px;
  width: 250px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 3em;
}

#contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 10em;
}

#contact form {
  display: grid;
  width: 50%;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr;
  grid-gap: 1em;
  grid-template-areas:
    'name name-input'
    'email email-input'
    'message message'
    '... button';
}

input,
textarea {
  border: 1px solid black;
  border-radius: 5px;
}

#email {
  grid-area: email;
}

#email-input {
  grid-area: email-input;
}

#name {
  grid-area: name;
}

#name-input {
  grid-area: name-input;
}

#message {
  grid-area: message;
}

.button {
  text-decoration: none;
  padding: 0.5em;
  justify-self: end;
  /* margin: auto; */
  background-color: rgb(72, 94, 116, 0.5);
  color: #ffffff;
  grid-area: button;
}

.button:hover {
  background-color: purple;
}

footer {
  background-color: var(--main-background-color);
  padding: 0.1em;
  margin-top: 4em;
  color: var(--primary-text-color);
}

footer p {
  margin: 0.5em;
}

#link-container {
  margin: 3em auto 5em auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#link-container img {
  border-radius: 100px;
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 470px) {
  #navbar ul {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    margin: auto;
  }

  #navbar li {
    list-style-type: none;
    margin: 1em 3em;
  }
}
